html, body {
  margin: 0;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  background: green;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1501856054482-8b7fbff7b3fe?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExNDY1fQ");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  mix-blend-mode: multiply;
}

.mainHeading {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 60px auto 20px;
}

.subHeading {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 60px;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}