html, body {
  margin: 0;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100%;
  width: 100%;
  height: 100%;
}

.mainHeading {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 60px auto 20px;
}

.subHeading {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 60px;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}